<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    {{{_sections.css}}}
</head>

<body>
    <img id="homeBackground" src="/img/background/wolfs.png" alt="home">
    <div class="row d-flex" id="mainID">
        <div class="container col-9" id="leftHome">
            {{{body}}}
        </div>

        <!--List friend expand-->
        <div class="container col-2 h-100 clsRightHome" id="rightHome">
            {{!-- my info --}}
            <form action="/account/logout" method="post" id="frmLogout">
            <div class="dropdown">
                <div class="dropdown-toggle mb-1 d-flex shadow-lg mt-2 " id="myAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/user/avatar1.png" class="img-fluid mt-2 mb-2 p-1" alt="account" id="myAvartar">
                    <h6 class="username mt-3 ml-3">{{username}}</h6>
                    <i class="fas fa-angle-down fa-5x ml-2 mt-3"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Thông tin tài khoản</a>
                    <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">Đăng xuất</a>
                </div>
            </div>
            </form>
            {{!-- <div class="mb-1 d-flex shadow-lg mt-2" id="myAccount">
                <img src="/img/user/avatar1.png" class="img-fluid mt-2 mb-2 p-1" alt="account" id="myAvartar">
                <h6 class="username mt-3 ml-3">{{username}}</h6>
                <i class="fas fa-angle-down fa-5x ml-2 mt-3"></i>
            </div> --}}
            {{!-- search friend --}}
            <div>
                <input class="search mb-2 mt-2">
                <i class="fas fa-search fa-4x ml-1" id="iconSearch"></i>
                </input>

            </div>
            {{!-- my list friend --}}
            <div class="container mt-4" id="listFriend"> 
            </div>
            <div class="btnHideShow">
                <i class="fas fa-caret-right fa-10x" id="buttonHideFriend"></i>
            </div>
        </div>
        
        <!--List friend short-->
        <div class="container px-1 col-1 h-100 clsRightHome" id="rightHomeMini">
            <div class="mb-1 shadow-lg mt-2" id="myAccount">
                <img src="/img/user/avatar1.png" class="img-fluid mt-1 mb-1 d-block" alt="account" id="myAvartar">
            </div>
            {{!-- hide/show list friend --}}
            <div class="btnHideShow">
                <i class="fas fa-caret-left fa-10x" id="buttonShowFriend"></i>
            </div>
        </div>
    </div>

    <!--Link script-->
    <script> 
        var username ='{{username}}';
        var module = '{{module}}';
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/mainjs.js"></script>
    {{{_sections.js}}}

</body>

</html>